@import url(https://fonts.googleapis.com/css?family=Girassol);
h1.logo {
    font-family: 'Girassol';
    text-align: center;
    font-weight: 400;
    color: #133965;
}

@import url(https://fonts.googleapis.com/css?family=Amiko);
div.header {
    font-family: 'Amiko';
    text-align: center;
    width:100%;
    margin-bottom: 25px;
    color: #133965;
}

body {
    background-color: #FEF7EC;
    color: #133965;
}

.cardBox1{
    background: #F3E9D9;
    width: 50%;
    height: 22%;
    margin:0 auto;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    line-height: 30px;
}

.cardBox2{
    background: white;
    width: 50%;
    height: 22%;
    margin:0 auto;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    line-height: 30px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    font-size: 20px;
}

button {
        transition: all .5s ease;
        background-color: #133965;
        border: none;
        color: #fff;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-indent: 2%;
}

button:hover {
        color: #133965;
        background-color: #fff;
}

.buttonText {
    color: white;
}

div.nav-bar {
        display:flex;
}
.cart {
        margin-left: 65%;
        margin-right: 10%;
        border-radius: 50%;
        padding:.5% 1%;
	transition: 0.4s;
}
a {
        text-decoration: none;
}

.catalog {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left:10%;
        font-size: 16px;
        color: #133965;
        padding: 12px 40px;
        text-transform: uppercase;
	transition: 0.4s;

}

.catalog:hover,.cart:hover {
	background: #F3E9D9;
	box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}

.catalog::before,.cart::before {
	background: #F3E9D9;
	transition: 0.4s;
	opacity: 1;
}

hr {
        width: 80%;
}
a, a:visited {
        color: inherit;
}

h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 350;
        font-size: 40px;
        margin-left: 10%;
}